<h1> My Favorite Brunch Places </h1>

<ul>
  <% @favorites.each do |favorite| %>
    <!-- <li><%= link_to favorite.name, favorite_path(favorite) %></li> -->
    <li><a href="/favorites/<%=favorite.id%>" target="_blank" class="livepreview"><%=favorite.name%></a></li>
  <% end %>
</ul>

<script>
$(document).ready(function() {
  $(".livepreview").livePreview({
    trigger: 'hover',
    scale: '0.6',
  });
});
</script>
